html {
    background-color: #121212;
    color: white;
    margin: 0 75px;
}

/* Header */
h1 {
    text-align: center;
}

/* Body */
h3 {
    text-decoration: underline;
}

#main-info {
    display: flex;
    flex-direction: row;
    border-style: solid;
    justify-content: center;
    align-items: center;
}

.column {
    margin: 0 5px;
}

#column-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Footer */