html {
    background-color: #121212;
    color: white;
}

/* Header */
h1 {
    text-align: center;
}

/* Body */


    /* Carousel */
    .carousel {
        position: relative;
    }

    .carousel-item {
        height: 250px;
    }

    .carousel-nav {
        width: 100%;
        padding: 20px 0px;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
    }

    .carousel-button {
        width: 10px;
        height: 10px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
    }

/* Footer */